@import url('../../Styles/root.css');
@import url('../panel.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container geral */
.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 40px;
}


.profile h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #34495e;
}

/* Conteúdo principal */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container-principal {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    border: 0;
    padding: 10px;

    width: 100%;
    height: 90%;

    border: 1px solid black; /* Define uma borda visível */
    box-sizing: border-box; /* Garante que padding e border não ultrapassem os 80%/70% */
}

.busca-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    width: 20%; /* Define a largura da div para 20% */
}
.busca-container input {
    padding: 8px;
    flex: 1; /* O input cresce para ocupar o espaço disponível */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.busca-container button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.busca-container button:hover {
    background-color: #0056b3;
}


.tabelaPrincipal {    
    display: flex;
    flex-direction: column;

    margin: 0;
    border: 0;
    padding: 5px;

    width: 100%;
    height: 70%;

    border: 1px solid black; /* Define uma borda visível */
    box-sizing: border-box; 
}

.firmSequenceColumn{
    width: 110px;
    text-align: center;
}

.firmNameColumn {
    width: 300px;
}

.btn-criar-empresa {
    margin-top: 15px;     /* Espaço acima do botão */
    padding: 10px 16px;
    background-color: #28a745;  /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-criar-empresa:hover {
    background-color: #218838;
}

#enterprise-table {
    width: 100%;
    border-collapse: collapse;
}

#enterprise-table th, td {
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 12px 16px;
    text-align: left;
}

#firm-modal {
    position: fixed;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 70%;
    border-radius: 20px;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

#firm-modal header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.modalContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
}

.modalContainer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.modalContainer form section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divInput {
    display: flex;
    flex-direction: column;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    gap: 7px;
}

#members-data {
    width: 100%;
}