@import url('../../Styles/root.css');
@import url('../panel.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container geral */
.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 40px;
}


.profile h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #34495e;
}

/* Conteúdo principal */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#notification-table{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#notification-table tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    text-align: left;
    border: 1px solid black;
}

td,th {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid black;
    padding: 5px;
}

.notificationSequenceColumn {
    justify-content: center;
}

.dataNotificationLine:hover{
    background-color: lightgray;
    cursor: pointer;
}

.exitButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.exitButton:hover{
    background-color: rgb(145, 0, 0);
}


#notification-modal{
    position: fixed;
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 250px;
    border-radius: 20px;
}  

.containerModal{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    height: 100%;
}

#notification-modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

.containerModal main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}  

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.buttonDiv button {
    height: 30px;
    width: 150px;
    font-weight: bold;
}

#notification-modal-decline-firm-invite-button{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}

#notification-modal-decline-firm-invite-button:hover{
    background-color: rgb(148, 0, 0);
    cursor: pointer;
}

#notification-modal-accept-firm-invite-button{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
}


#notification-modal-accept-firm-invite-button:hover{
    background-color: rgb(0, 73, 0);
    cursor: pointer;
}