body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fundo neutro */
    overflow-x: hidden;
}
.container {
    text-align: center;
    background-color: #CBBBA7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border: 2px solid #8B7D70;
}





.navigation {
    position: fixed; /* Torna a navegação fixa no topo da página */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px 40px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; /* Garante que os dois grupos de itens fiquem nas extremidades */
    align-items: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que a navegação fique sobre outros elementos */
    box-sizing: border-box; /* Certifica-se de que o padding não vai afetar o layout */
}

.navigation .left-section {
    display: flex;
    align-items: center;
}

.navigation img {
    height: 40px;
    margin-right: 15px; /* Distância entre a imagem e o título */
}

.navigation h1 {
    margin: 0;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    margin-right: 50px; /* Distância entre o título e o link "Sobre nós" */
}

.nav-link {
    text-decoration: none;
    color: rgb(110, 109, 122);
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
    top: 3px; /* Alinha o link com o título */
    white-space: nowrap;
}

.nav-link:hover {
    color: #60041A;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
}

.lupa {
    background-image: url('icone-loupe-gris.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: block;
    cursor: pointer; /* Faz com que o cursor mude ao passar em cima */
    position: relative;  /* Definir a posição em relação ao elemento pai */
    left: -25px;  /* Move a lupa 20px para a esquerda */
}
.sign_in {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6E6D7A;
    font-size: 1.4em;
    font-weight: 500;
    transition: color 0.3s ease;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.sign_in:hover {
    color: #60041A;
    cursor: pointer;
}

.sign_up {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: nowrap;
    border: 2px solid #ea4c89;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ea4c89;
    margin-left: 20px;
}

.sign_up:hover {
    color: white;
    cursor: pointer;
    border-color: #60041A;
    background-color: #60041A;
}


